<br/><br/>
<div class="container" style="padding-top:60px;">  
  <div class="row">  
    <div class="col-md-6 mx-auto">  
      <div class="card-group">  
        <div class="card p-4">  
          <div class="card-body">  
            <form name="form" (ngSubmit)="onSubmit()" #f="ngForm">   
              <h1 style="text-align:center;">Change Password</h1>  
               
                <div class="input-group mb-3">
                    <input type="password" name="newPass" class="form-control sty1" placeholder="Enter your new password" [(ngModel)]="changePassQuery.newPassword" required> 
                </div>

                <div class="input-group mb-3">
                    <input type="password" name="confirmPass" class="form-control sty1" placeholder="Re-enter your new password" [(ngModel)]="confirmPass" required>
                </div>
                <div class="row">  
                    <div class="col-6">  
                        <button type="submit" class="btn btn-success px-4">Confirm</button>   
                    </div>   
                </div>  
            </form>  
          </div>  
        </div>  
      </div>  
    </div>  
  </div>  
</div>