
<!-- <div *ngFor="let seat of seatdata" style="color: red;">
    {{seat[1].busId}}
    {{seat[1].seatNo}}
</div>

 -->


<!-- <section *ngIf="object">
    <table>
      <tr *ngFor="let row of array; let even = even; let odd = odd"
          [ngClass]="{ odd: odd, even: even }">
        <td class="field" *ngFor="let field of row">
          {{field.text}}
        </td>
      </tr>
    </table>
  </section> -->

  <table border=1 solid>
    <thead>
      <th>Row1</th>
      <th>Row2</th>
      <th>Row3</th>
      <th>Row4</th>
    </thead>
    <tbody >
      <tr>
        <td>{{seatdata[0].seatNo}}</td>
        <td>{{seatdata[1].seatNo}}</td>
        <td>{{seatdata[2].seatNo}}</td>
        <td>{{seatdata[3].seatNo}}</td>
      </tr>
      <tr>
        <td>{{seatdata[4].seatNo}}</td>
        <td>{{seatdata[5].seatNo}}</td>
        <td>{{seatdata[6].seatNo}}</td>
        <td>{{seatdata[7].seatNo}}</td>
      </tr>
      <tr>
        <td>{{seatdata[8].seatNo}}</td>
        <td>{{seatdata[9].seatNo}}</td>
        <td>{{seatdata[10].seatNo}}</td>
        <td>{{seatdata[11].seatNo}}</td>
      </tr>
      <tr>
        <td>{{seatdata[12].seatNo}}</td>
        <td>{{seatdata[13].seatNo}}</td>
        <td>{{seatdata[14].seatNo}}</td>
        <td>{{seatdata[15].seatNo}}</td>
      </tr>
      <tr>
        <td>{{seatdata[16].seatNo}}</td>
        <td>{{seatdata[17].seatNo}}</td>
        <td>{{seatdata[18].seatNo}}</td>
        <td>{{seatdata[19].seatNo}}</td>
      </tr>
      <tr>
        <td>{{seatdata[20].seatNo}}</td>
        <td>{{seatdata[21].seatNo}}</td>
        <td>{{seatdata[22].seatNo}}</td>
        <td>{{seatdata[23].seatNo}}</td>
      </tr>
      <tr>
        <td>{{seatdata[23].seatNo}}</td>
        <td>{{seatdata[24].seatNo}}</td>
        <td>{{seatdata[25].seatNo}}</td>
        <td>{{seatdata[26].seatNo}}</td>
      </tr>
      <tr>
        <td>{{seatdata[27].seatNo}}</td>
        <td>{{seatdata[28].seatNo}}</td>
        <td>{{seatdata[29].seatNo}}</td>
        <td>{{seatdata[30].seatNo}}</td>
      </tr>
      <tr>
        <td>{{seatdata[31].seatNo}}</td>
        <td>{{seatdata[32].seatNo}}</td>
        <td>{{seatdata[33].seatNo}}</td>
        <td>{{seatdata[34].seatNo}}</td>
      </tr>
      <tr>
        <td>{{seatdata[35].seatNo}}</td>
        <td>{{seatdata[36].seatNo}}</td>
        <td>{{seatdata[37].seatNo}}</td>
        <td>{{seatdata[38].seatNo}}</td>
      </tr>
      <tr>
        <td>{{seatdata[39].seatNo}}</td>
        
      </tr>

    </tbody>
  </table>
   