table, th, td {
    border: 1px solid black;
    margin-left: 600px;
    margin-top: 50px;
  }

th {
    background-color: bisque;
    width: 80px;
    height: 50px;
}

td {
    width: 50px;
    height: 50px;
}


#available {
    background-color:rgb(95, 236, 95);
    cursor: pointer;
}
#available:hover {
    background-color: aquamarine;  
}

#notavb {
    background-color: brown;
}

#selected {
    background-color: blue;
    cursor: pointer;
}
 
  
