<!-- 
<div *ngFor="let seat of seatdata" style="color: red;">
    <div *ngFor="let col of cols">
<div style="color:blue; background-color:chartreuse;margin-top:2rem" >
    {{seat.busId}}
    {{seat.seatNo}}
</div>
<hr/>
</div>
</div> -->

<!-- <section *ngIf="object">
    <table>
      <tr *ngFor="let row of array; let even = even; let odd = odd"
          [ngClass]="{ odd: odd, even: even }">
        <td class="field" *ngFor="let field of row">
          {{field.text}}
        </td>
      </tr>
    </table>
  </section> -->
