  <div class="wrapper">
    
    <div class="sidebar">
   
        <ul style="list-style:none;">
          <li>
           <p style="font-size:larger;">
                  
                  <span class="item"><b>Hello {{custName}}</b></span>
              </p>
          </li>
          <li>
              <p >
                <i class="fa fa-user" aria-hidden="true"></i>&nbsp;
                  <span class="item"><b>My Dashboard</b></span>
              </p>
          </li>
          <li>
            <button (click)="onPress()">Search</button>
        </li>
      
          <li>
            <a href="#">
                
                <span class="item">Bookings</span>
            </a>
        </li>
          <li>
              <a href="#">
                  
                  <span class="item">Profile</span>
              </a>
          </li>
          <li>
              <a href="#">
                  
                  <span class="item">Change Password</span>
              </a>
          </li>
          <li>
            <a href="#">
                
                <span class="item">Wallet</span>
            </a>
        </li>            
        
      </ul>
  </div>
    </div>
    <div class="container">
      <div id="comp-render" *ngIf="display">
        <app-searchbus></app-searchbus>
      </div>
    </div>