<div class="wrapper">
  <div class="sidebar">
      <ul style="list-style:none;">
        <li>
          <p style="font-size:larger;">
            <span><h2>Hi, {{adminName}}</h2></span>   
          </p>
        </li>
        <li> 
          <a routerLink="/nav/list"><span>List of Buses</span></a>
        </li>
        <li>
          <a routerLink="/Adminlogin"><span>Logout</span></a>
        </li> 
    </ul>
  </div>
  <div style="display:flex; margin-left: 225px;">
    <router-outlet></router-outlet>
  </div>
</div> 