*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.wrapper .sidebar {
    background: blueviolet;
    position: absolute;
    top: 0;
    margin-top: 3.9%;
    text-decoration: none;
    width: 225px;
    height: 100%;
    transition: all 0.5s ease;
}

.wrapper .sidebar ul li a {
    display: block;
    padding: 13px 30px;
    text-decoration: none;  
    border-bottom: 1px solid blueviolet;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}

.wrapper .sidebar ul li p {
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid blueviolet;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}


.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
    color: blueviolet;
    background:white;
}



.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
    display: block;
}

.container {
  margin-top: 50px;
  margin-left: 200px;
}

 