
<div class="container">
    <div class="jumbotron">
        <table class="table">
            <thead class="head">
                <tr>
                <th>  TId</th>
                <th>BusId</th>
                <th>CustomerId</th>
                <th>DateOfBooking</th>
                <th>TotalCost</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of transactiondata">
                    <td>{{data.tId}}</td>
                    <td>{{data.busId}}</td>
                    <td>{{data.customerId}}</td>
                    <td>{{data.dateOfBooking|date:'short'}}</td>
                    <td>{{data.totalCost}}</td>
                    
                    <td>
                    <div class="but1"   *ngIf="data.dateOfBooking>today; else elseBlock">
                        <button class="btn btn-danger" >Cancel</button>
                     </div> 
                     
                      <ng-template #elseBlock>
                  
                        <a routerLink="/feedback"><button class="btn btn-info">Feedback</button></a>
                      </ng-template>
                    </td> 
                   
                </tr>
                <!-- <tr *ngFor="let pas of transactiondata.passengers">
                    <td>{{pas.pname}}</td>
                </tr> -->
            </tbody>
        </table>
    </div>