<br/>
<button type="button" class="btn btn-info" routerLink="/add" style="margin-left:600px">
    Add Bus
 </button>
 <button type="button" class="btn btn-info" routerLink="/AdminNav" style="margin-left:450px">
    Back
 </button>
 <br/>
<div class="container">
    <h4 style="color:blueviolet" >Bus List</h4>
    <div  class="jumbotron"><hr/>
        <table class="table">
            <thead>
                <tr>
                    <th>BusNo</th>
                    <th>Bus type</th>
                    <th>Driver Name</th>
                    <th>Driver Contact</th>
                    <th>Departure Time</th>
                    <th>Arrival time</th>
                    
                    <th>Seat Cost</th>
                    </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bus of Buslist">
                   
                    <td>{{bus.busNo}}</td>
                    <td>{{bus.typeOfBus}}</td>
                    <td>{{bus.driverName}}</td>
                    <td>{{bus.driverContact}}</td>
                    <td>{{bus.dtime}}</td>
                    <td>{{bus.atime}}</td>
                    
                    <td>{{bus.seatCost}}</td>
                    <td></td>
                    <td>
                        <a [routerLink]="['/find/',bus.BusNo]">Details</a>&nbsp;&nbsp;
                        <a [routerLink]="['/edit/',bus.BusNo]">Edit</a>&nbsp;&nbsp;
                        <a [routerLink]="['/remove/',bus.No]">Remove</a>&nbsp;&nbsp;
                    </td>
                </tr> 
            </tbody>
        </table>
    </div>
</div>


