<h2 style="color:blueviolet;text-align: center;" >Adding New Bus</h2>
<hr/>
<div style="margin-left:500px;margin-top: 5px;margin-right: 500px;">
<form  (ngSubmit)="saveBus(busdata)" #busform="ngForm">
    <div class="form-group">
        <label for="id">Enter Bus-Id:</label>
        <input type="number" id="busId" name="busId" required [(ngModel)]="busdata.busId" #busId="ngModel" />
        <div *ngIf="busId.invalid && (busId.dirty || busId.touched)" style="color:red;">
             <div *ngIf="busId.errors?.['required']">
                ID is required
             </div>
        </div>
    </div>
    <div>
        <label for="BusNo">Enter BusNo:</label>
        <input type="text" id="busNo" name="busNo" required [(ngModel)]="busdata.busNo" #busNo="ngModel" />
        <div *ngIf="busNo.invalid && (busNo.dirty || busNo.touched)" style="color:red;">
             <div *ngIf="busNo.errors?.['required']">
                BusNo is required
             </div>
        </div>
    </div>
    <div>
        <label for="Rows">Enter Rows:</label>
        <input type="number" id="rows" name="rows" required [(ngModel)]="busdata.rows" #rows="ngModel" />
        <div *ngIf="rows.invalid && (rows.dirty || rows.touched)" style="color:red;">
             <div *ngIf="rows.errors?.['required']">
                Rows is required
             </div>
        </div>
    </div>
    <div>
        <label for="Cols">Enter Columns:</label>
        <input type="number" id="cols" name="cols" required [(ngModel)]="busdata.cols" #cols="ngModel" />
        <div *ngIf="cols.invalid && (cols.dirty || cols.touched)" style="color:red;">
             <div *ngIf="cols.errors?.['required']">
                Columns are required
             </div>
        </div>
    </div>
    <div>
        <label for="DTime">Enter Departure Time:</label>
        <input type="text" id="dTime" name="dTime" required [(ngModel)]="busdata.dtime" #dTime="ngModel" />
        <div *ngIf="dTime.invalid && (dTime.dirty || dTime.touched)" style="color:red;">
             <div *ngIf="dTime.errors?.['required']">
                Departure time is required
             </div>
        </div>
    </div>
    <div>
        <label for="Atime">Enter Arrival Time:</label>
        <input type="text" id="atime" name="atime" required [(ngModel)]="busdata.atime" #atime="ngModel" />
        <div *ngIf="atime.invalid && (atime.dirty || atime.touched)" style="color:red;">
             <div *ngIf="atime.errors?.['required']">
                Arrival time is required
             </div>
        </div>
    </div>
   
    <div>
        <label for="Pickup">Enter Pick up:</label>
        <input type="text" id="pickup" name="pickup" required [(ngModel)]="busdata.pickup" #pickup="ngModel" />
        <div *ngIf="pickup.invalid && (pickup.dirty || pickup.touched)" style="color:red;">
             <div *ngIf="pickup.errors?.['required']">
                Pick up is required
             </div>
        </div>
    </div>
    <div>
        <label for="SeatCost">Enter Ticket Cost:</label>
        <input type="number" id="seatCost" name="seatCost" required [(ngModel)]="busdata.seatCost" #seatCost="ngModel" />
        <div *ngIf="seatCost.invalid && (seatCost.dirty || seatCost.touched)" style="color:red;">
             <div *ngIf="seatCost.errors?.['required']">
                Seat Cost is required
             </div>
        </div>
    </div>
    <div>
        <label for="DriverName">Enter Driver Name:</label>
        <input type="text" id="driverName" name="driverName" required [(ngModel)]="busdata.driverName" #driverName="ngModel" />
        <div *ngIf="driverName.invalid && (driverName.dirty || driverName.touched)" style="color:red;">
             <div *ngIf="driverName.errors?.['required']">
                Driver Name is required
             </div>
        </div>
    </div>
    <div>
        <label for="DriverContact">Enter Driver Contact:</label>
        <input type="text" id="driverContact" name="driverContact" required [(ngModel)]="busdata.driverContact" #driverContact="ngModel" />
        <div *ngIf="driverContact.invalid && (driverContact.dirty || driverContact.touched)" style="color:red;">
             <div *ngIf="driverContact.errors?.['required']">
                Driver Contact is required
             </div>
        </div>
    </div>
    <div>
        <label for="TypeOfBus">Enter Type Of Bus:</label>
        <input type="text" id="typeOfBus" name="typeOfBus" required [(ngModel)]="busdata.typeOfBus" #typeOfBus="ngModel" />
        <div *ngIf="typeOfBus.invalid && (typeOfBus.dirty || typeOfBus.touched)" style="color:red;">
             <div *ngIf="typeOfBus.errors?.['required']">
                Type Of Bus is required
             </div>
        </div>
    </div>
    <div>
        <label for="source">Source</label>
        <input type="text" id="source" name="source" required [(ngModel)]="busdata.source" #source="ngModel" />
        <div *ngIf="source.invalid && (source.dirty || source.touched)" style="color:red;">
             <div *ngIf="source.errors?.['required']">
                Type Of Bus is required
             </div>
        </div>
    </div>
    <div>
        <label for="destination">Destination</label>
        <input type="text" id="destination" name="destination" required [(ngModel)]="busdata.destination" #destination="ngModel" />
        <div *ngIf="destination.invalid && (typeOfBus.dirty || destination.touched)" style="color:red;">
             <div *ngIf="destination.errors?.['required']">
                Type Of Bus is required
             </div>
        </div>
    </div>
    <div>
        <label for="distance">Distance</label>
        <input type="number" id="typeOfBus" name="typeOfBus" required [(ngModel)]="busdata.distance" #distance="ngModel" />
        <div *ngIf="distance.invalid && (distance.dirty || distance.touched)" style="color:red;">
             <div *ngIf="distance.errors?.['required']">
                Type Of Bus is required
             </div>
        </div>
    </div>
   
    <br><br>
    <input type="submit" value="save" class="btn btn-success" [disabled]="!busform.valid" />
</form>
</div>
