<br/>
<nav  style="background-color: #e3f2fd; text-align:center; height: 50px; ">
  <span style="float: left; margin-left: 2rem; margin-right:1rem; margin-top:7px" class>
    <h2>Hi, {{adminName}}</h2>
  </span>
  <a routerLink="/list" > 
    <button type="button" class="btn btn-primary" style="margin-top:7px">
      List of Buses
    </button>
  </a>
  <a  routerLink="/Adminlogin">
    <button type="button" style="margin-left: 3rem; margin-right:1rem; margin-top:7px" class="btn btn-primary float-right">
      Logout
    </button>
  </a>
</nav>
  




<!-- <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
  <div class="position-sticky">
    <div class="list-group list-group-flush mx-3 mt-4">
      <a
      routerLink="/list"
        class="list-group-item list-group-item-action py-2 ripple"
        aria-current="true"
      >
        <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>List of Buses</span>
      </a>
      <a routerLink="/Adminlogin" class="list-group-item list-group-item-action py-2 ripple active">
        <i class="fas fa-chart-area fa-fw me-3"></i><span>Logout</span>
      </a>
   
    </div>
  </div>
</nav> -->

<!-- <nav  style="background-color: #e3f2fd;text-align: center;height: 50px;">
    
      divya
    <a routerLink="/list" style="color:blueviolet;text-decoration: none;margin-top:20px;font-size: larger;">
    <b>BusList</b>
    </a>
   
    <a routerLink="/Adminlogin" style="color:blueviolet;text-decoration: none;margin-left: 65rem;font-size: larger;">
    <b>Logout</b>
    </a>

  </nav> -->

