<h2 style="color:blueviolet;text-align: center;" >Editing Bus {{busdata.busId}}</h2>
<hr/>
<div style="margin-left:500px;margin-top: 5px;margin-right: 500px;">
<form  (ngSubmit)="saveBus(busdata)" #busform="ngForm">
    <div class="form-group">
        <label for="busId">Enter Bus-Id:</label>
        <input type="number" id="busId" name="busId" required [(ngModel)]="busdata.busId" #busId="ngModel" />
        <div *ngIf="busId.invalid && (busId.dirty || busId.touched)" style="color:red;">
             <div *ngIf="busId.errors?.['required']">
                ID is required
             </div>
        </div>
    </div>
    <div>
        <label for="busNo">Enter BusNo:</label>
        <input type="text" id="busNo" name="busNo" required [(ngModel)]="busdata.busNo" #busNo="ngModel" />
        <div *ngIf="busNo.invalid && (busNo.dirty || busNo.touched)" style="color:red;">
             <div *ngIf="busNo.errors?.['required']">
                BusNo is required
             </div>
        </div>
    </div>
    <div>
        <label for="Rows">Enter Rows:</label>
        <input type="number" id="Rows" name="Rows" required [(ngModel)]="busdata.rows" #Rows="ngModel" />
        <div *ngIf="Rows.invalid && (Rows.dirty || Rows.touched)" style="color:red;">
             <div *ngIf="Rows.errors?.['required']">
                Rows is required
             </div>
        </div>
    </div>
    <div>
        <label for="Cols">Enter Columns:</label>
        <input type="number" id="Cols" name="Cols" required [(ngModel)]="busdata.cols" #Cols="ngModel" />
        <div *ngIf="Cols.invalid && (Cols.dirty || Cols.touched)" style="color:red;">
             <div *ngIf="Cols.errors?.['required']">
                Columns are required
             </div>
        </div>
    </div>
    <div>
        <label for="DTime">Enter Departure Time:</label>
        <input type="text" id="DTime" name="DTime" required [(ngModel)]="busdata.dtime" #DTime="ngModel" />
        <div *ngIf="DTime.invalid && (DTime.dirty || DTime.touched)" style="color:red;">
             <div *ngIf="DTime.errors?.['required']">
                Departure time is required
             </div>
        </div>
    </div>
    <div>
        <label for="Atime">Enter Arrival Time:</label>
        <input type="text" id="Atime" name="Atime" required [(ngModel)]="busdata.atime" #Atime="ngModel" />
        <div *ngIf="Atime.invalid && (Atime.dirty || Atime.touched)" style="color:red;">
             <div *ngIf="Atime.errors?.['required']">
                Arrival time is required
             </div>
        </div>
    </div>
    <div>
        <label for="Pickup">Enter Pick up:</label>
        <input type="text" id="Pickup" name="Pickup" required [(ngModel)]="busdata.pickup" #Pickup="ngModel" />
        <div *ngIf="Pickup.invalid && (Pickup.dirty || Pickup.touched)" style="color:red;">
             <div *ngIf="Pickup.errors?.['required']">
                Pick up is required
             </div>
        </div>
    </div>
    <div>
        <label for="SeatCost">Enter Ticket Cost:</label>
        <input type="number" id="SeatCost" name="SeatCost" required [(ngModel)]="busdata.seatCost" #SeatCost="ngModel" />
        <div *ngIf="SeatCost.invalid && (SeatCost.dirty || SeatCost.touched)" style="color:red;">
             <div *ngIf="SeatCost.errors?.['required']">
                Seat Cost is required
             </div>
        </div>
    </div>
    <div>
        <label for="DriverName">Enter Driver Name:</label>
        <input type="text" id="DriverName" name="DriverName" required [(ngModel)]="busdata.driverName" #DriverName="ngModel" />
        <div *ngIf="DriverName.invalid && (DriverName.dirty || DriverName.touched)" style="color:red;">
             <div *ngIf="DriverName.errors?.['required']">
                Driver Name is required
             </div>
        </div>
    </div>
    <div>
        <label for="DriverContact">Enter Driver Contact:</label>
        <input type="number" id="DriverContact" name="DriverContact" required [(ngModel)]="busdata.driverContact" #DriverContact="ngModel" />
        <div *ngIf="DriverContact.invalid && (DriverContact.dirty || DriverContact.touched)" style="color:red;">
             <div *ngIf="DriverContact.errors?.['required']">
                Driver Contact is required
             </div>
        </div>
    </div>
    <div>
        <label for="TypeOfBus">Enter Type Of Bus:</label>
        <input type="text" id="TypeOfBus" name="TypeOfBus" required [(ngModel)]="busdata.typeOfBus" #TypeOfBus="ngModel" />
        <div *ngIf="TypeOfBus.invalid && (TypeOfBus.dirty || TypeOfBus.touched)" style="color:red;">
             <div *ngIf="TypeOfBus.errors?.['required']">
                Type Of Bus is required
             </div>
        </div>
    </div>
    
   
    <br><br>
    <input type="submit" value="Save" class="btn btn-success" [disabled]="!busform.valid" />
</form>
</div>

