.table{
    background-color: rgba(72, 194, 203, 0.267);
    font-size: 17px;
}
.head{
    background-color: rgba(9, 139, 245, 0.438);
}
.tr{
    padding: 1px;
}

.lst{
    border: 2px  blueviolet;
    padding: 11px 24px;

    border-radius: 10px;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: white;
    background-color: blueviolet;
}

