<br>
<br><br><br><br><br>
<div class="main card">
    <div class="text">
        <p id="txt1"  class=" txt">Booking Cancelled Successfully!!</p>
        <p class="txt">Refund of {{totalCost}} is Initiated in your Wallet</p>
        <hr/>
    <div class="btns">
        <!-- &nbsp;<button  class="btn"  [routerLink]="['/wallet']">Go to your wallet</button>&nbsp;&nbsp; -->
        &nbsp;&nbsp;
        <button  class="btn" [routerLink]="['/sidebarcust']">Back to Dashboard</button>&nbsp;
    </div>
    <br>
</div>